<!--
  Generated template for the ItensdesafioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Itens Propostos/Realizados</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list-header>
        Obrigatórios:
    </ion-list-header>    
    <ion-item>
        <ion-label>Cadastro de Produto</ion-label>
        <ion-checkbox color="secondary" checked="true"></ion-checkbox>
    </ion-item>

    <ion-item>
          <ion-label>Cadastro de Compra</ion-label>
          <ion-checkbox color="secondary" checked="true"></ion-checkbox>
    </ion-item>

    <ion-item>
            <ion-label>Listagem de Compra</ion-label>
            <ion-checkbox color="secondary" checked="true"></ion-checkbox>
    </ion-item>

    <ion-item>
        <ion-label>Configuração Fácil em Ambiente UNIX</ion-label>
        <ion-checkbox color="secondary" checked="true"></ion-checkbox>
    </ion-item>

    <ion-item>
        <ion-label>Utilizar Apenas Libs Free !</ion-label>
        <ion-checkbox color="secondary" checked="true"></ion-checkbox>
    </ion-item>

    <br>
    <ion-list-header>
        Desejaveis:
    </ion-list-header>  

    <ion-item>
        <ion-label>Autenticação e Autorização </ion-label>
        <ion-checkbox color="secondary" checked="true"></ion-checkbox>
    </ion-item>

    <ion-item>
        <ion-label>Responsivo e Bonito ;)</ion-label>
        <ion-checkbox color="secondary" checked="true"></ion-checkbox>
    </ion-item>

      <ion-item>
        <ion-label>Testes Automatizados</ion-label>
        <ion-checkbox disabled="true"></ion-checkbox>
      </ion-item>
    
      <ion-item>
        <ion-label>Angular / Ionic / React / ReactNative </ion-label>
        <ion-checkbox color="secondary" checked="true"></ion-checkbox>
    </ion-item>


      
</ion-content>
