<ion-content padding>
 
  <ion-item-group>
  <ion-item><b>Desafio FrontEnd:</b> </ion-item>
  <ion-list-header>
      Membros do Desafio:
  </ion-list-header>   
     <ion-list>
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/logowpensar.png">
        </ion-avatar>
        <h2><b>Desafiante:</b><br></h2>
        <p>Grupo WPensar</p>
      </ion-item>
    
        <ion-item>
          <ion-avatar item-start>
            <img src="assets/sabino.jpg">
          </ion-avatar>
          <h2><b>Desafiado:</b><br></h2>
          <p>Sabino Ferreira Lima Machado</p>
        </ion-item>
        
        <ion-item>
              <ion-icon ios="ios-code-working" md="md-code-working" item-end></ion-icon>
              <b>Pretenção:</b> FronEnd Nível Jr. 
              </ion-item>
        </ion-list>

        <ion-list-header>
            Atividades Realizadas:
        
        <ion-grid>
            <ion-row>
                <ion-col>
                  <div><button ion-button full color="secondary" (click)="produtoPage()">Produto</button></div>
                </ion-col>
                <ion-col>
                  <div><button ion-button full color="secondary">Compra</button></div>
                </ion-col>
                <ion-col>
                  <div><button ion-button full color="secondary">Listagem</button></div>
                </ion-col>
              </ion-row>
        </ion-grid>
      </ion-list-header> 
    </ion-item-group> 
   <ion-card>
      <ion-card-header>
        Produzido:
      </ion-card-header>
      <ion-card-content>
        <canvas #graficofeito></canvas>
      </ion-card-content>
    </ion-card>



<button ion-button full (click)="itenPage()" color="light"> Verificar Itens Solicitados/Realizados</button>
<br>
<button ion-button full (click)="signOut()" color="danger"> Sair <ion-icon ios="ios-exit" md="md-exit"></ion-icon></button>


</ion-content>