
page-home {

          .scroll-content {
          background-color: map-get($colors, lightblue);
          font-weight: bold;
          }

          ion-card-header {
          font-weight: bold;
          }

}
