<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <div class="flb">
    <div class="Aligner-item Aligner-item--top"></div>
    <img src="assets/logo.png" >
    <div class="Aligner-item Aligner-item--bottom"></div>
  </div>
</div>



<ion-header>
  
</ion-header>




<ion-content padding>
    <p align="center">
<!-- <font size="16" face="Verdana">
<strong>[LOGO]</strong>
  
</font> -->
<img src="assets/wpensar.png" alt="Smiley face" height="200" width="280" padding="0">


</p>  
  
  
  <form #form="ngForm" novalidate>
    <ion-list>

      <ion-item>
        <ion-label stacked>E-mail</ion-label>
        <ion-input type="text" name="email" [(ngModel)]="user.email" #email="ngModel" required></ion-input>
      </ion-item>
      <ion-item *ngIf="email.errors && (email.dirty || email.touched)" class="text-danger">
        O campo é obrigatório
      </ion-item>

      <ion-item>
        <ion-label stacked>Senha</ion-label>
        <ion-input type="password" name="password" [(ngModel)]="user.password" #password="ngModel" required></ion-input>
      </ion-item>
      <ion-item *ngIf="password.errors && (password.dirty || password.touched)" class="text-danger">
        O campo é obrigatório
      </ion-item>

    </ion-list>

    <button ion-button block color="primary" [disabled]="!form.form.valid" (click)="signIn()">
      Entrar
    </button>
  </form>

  <button ion-button block clear (click)="resetPassword()">
    Esqueci minha senha
  </button>

<p style="color:#b0aeb2" text-center>Ou</p>
  <button ion-button block outline color="primary" (click)="createAccount()">
    Criar conta
  </button>
 
  
  <button ion-button block icon-left color="danger" margin-top (click)="signInWithGoogle()">
    <ion-icon name="logo-google"></ion-icon>
    Entrar com o Google
  </button>

  <button ion-button block icon-left color="facebook" margin-top (click)="signInWithFacebook()">
    <ion-icon name="logo-facebook"></ion-icon>
    Entrar com o Facebook
  </button>

  
</ion-content>