<ion-header>
  <ion-navbar>
    <ion-title>
  Cadastro de Produtos
    </ion-title>
  </ion-navbar>
  </ion-header>
  
  <ion-content padding>
  
    <ion-list>
      <ion-item-sliding *ngFor="let produto of produtos">
        <ion-item >
           <h2>{{ produto.nome }} </h2>
        </ion-item>
  
        <ion-item-options side="left">
          <button ion-button color="primary" >
              <ion-icon name="create"></ion-icon>
              Editar
            </button>
          <button ion-button color="danger" >
              <ion-icon name="trash"></ion-icon>
              Excluir
            </button>
        </ion-item-options>
      </ion-item-sliding>
  
    </ion-list>
  
  
  
  <!-- 
  <ion-list>
    <ion-item *ngFor="let produto of produtos">
      <ion-item>
       <h2>{{ produto.nome }}</h2>
      </ion-item>
      
    </ion-item> -->
    
  <!-- </ion-list> -->
  
  <button ion-button full>Full Button</button>
  
  
  <ion-infinite-scroll (ionInfinite)="getProdutos($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Aguarde...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
  
  </ion-content>